.about{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 1px;
    margin-top: 50px;

}

.titleabout{
    text-align: left;
    color: var(--lightestSlate);
    font-family: var(--fontSans);
    font-size: clamp(25px, 3vw, 30px);
}

.titleabout::after{
    content: "";
    width: 27vw;
    height: 1.5px;
    background-color: var(--color4);
    display: inline-block;
    margin: 5px 20px;
}

.cont-imgdivabout{
    display: flex;
    gap: 50px;

}

.contdivabout{
    text-align: left;
    color: var(--light-slate);
    font-family: var(--fontNunito);
    font-size: large;
}


.imgdivabout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profileabout{
    width: 100%;
    opacity: 0.7;
    box-shadow: 5px 5px 10px rgb(48, 61, 107);
    border-radius: 10px;
    background-color: var(--color2);
    object-fit: cover;
    height: auto;
}



.profileabout:hover{
    opacity: 1;
}




@media only screen and (max-width: 750px) {
    .about{
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .titleabout::after{
       width: 10rem;
    }
    .contdivabout{
        font-size: medium;
    }
    .cont-imgdivabout{
        display: flex;
        flex-direction: column;
    }
}