.main{
    /* border: 2px solid red; */
    width: 70%;
    /* color: aliceblue; */
    /* color: rgb(170, 177, 183); */
    color: hsl(225.7, 70%, 88.2%);
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    /* padding-left: 10px; */
    margin-top: 130px;
}

.maingreetdiv{

}

.maingreet{
    font-family: var(--fontNunito);
    font-size: 1.3rem;  
    margin: 0;
    color: var(--color4);
}

.mainnamediv{
   padding: 0;
}

.mainname{
    /* font-size: 5.5em; */
    font-size: 8vw;
    margin: 0;
    padding: 0;
    /* line-height: 6rem; */
}

.mainwhatdodiv{
    /* padding: 0; */
}

.mainwhatdo{
    /* font-size: 5rem; */
    font-size: 7.5vw;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    text-align: left;
}

.mainwhoamidiv{
    padding: 15px 0;
    margin: 10px 0 0 0;
}

.mainwhoami, .maincurrent{
    text-align: left;
    font-family: var(--fontNunito);
    padding: 2px 0;
    margin: 0;
    /* font-size: larger; */
}

/* .maincurrent{
    text-align: left;
    font-family: var(--fontNunito);
    padding: 0;
    margin: 0;
} */

.mainbtndiv{
    padding: 20px 0;
    margin-bottom: 20px;
}

#maincheckprojbtn{
    text-transform: capitalize;
    font-weight: 600;
    /* color: aliceblue; */
    color: hsl(165.7, 100%, 69.6%);
    border: 1.5px solid hsl(165.7, 100%, 69.6%);
    height: 3.5rem;
    /* width: 30vw; */
    /* font-size: 1rem; */
}

#maincheckprojbtn:hover{
    
    background: #123d60;
    /* background: #123d60; */
    
}