.keeperapp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}

.imgdivkeeperapp{
    max-width: 600px;
}

.keeperappimg{
    width: 40vw;
    padding: 40px 0;
    opacity: 0.7;
    height: 40vh;
    border-radius: 10px;
    transition: var(--transition);
}

.keeperappimg:hover{
    opacity: 1;
}


.titlekeeperapp{
    text-align: right;
    color: var(--lightestSlate);
    font-family: var(--fontSans);
}

.overlapkeeperapp{
    position: absolute;
    right: 0;
    top: 6vw;
    width: 50%;

}

.overlapcontkeeperapp{
    background-color: var(--colorLightNavy);
    border-radius: 5px;
    color: var(--light-slate);
    font-family: var(--fontNunito);
    text-align: right;
    padding: 20px 15px;
}

.toolskeeperapp{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    padding: 0;
    color: var(--light-slate);
    font-family: var(--fontMono);
}


.linkskeeperapp{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    padding: 10px 0;
}

.linkskeeperapp a{
    color: var(--light-slate);
    transition: var(--transition);
}

.linkskeeperapp a:hover{
    color: var(--colorGreen);
    
}


@media only screen and (max-width: 750px) {
    .keeperapp{
        width: 100%;
        border: none;
        position: relative;
    }
    
    .keeperappimg{
        width: 100%;
        height: 45vh;
        padding: 0 0;
        opacity: 0.1;
        object-fit: cover;
    }

    .contdivkeeperapp{
        position: absolute;
        width: 100%;
        padding: 15px 10px;
    }
    
    .titlekeeperapp{
        text-align: left;
    }
    
    .overlapkeeperapp{
        position: relative;
        width: 90%;
        margin-top: -40px;
    }
    
    .overlapcontkeeperapp{
        text-align: left;
        width: 100%;
        background-color: inherit;
        font-size: large;
    }
    
    .toolskeeperapp{
        justify-content: flex-start;
    
    }
        
    .linkskeeperapp{
        justify-content: flex-start;
    }
  }