.navbar{
    background-color: var(--colorDarkNavy);
    opacity: 0.95;
}

.innernavbar{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.logodiv{
    padding: 0;
}

.logodiv > img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.Dnavlinksdiv{
    display: flex;
    gap: 2rem;
}

.Dlinksul{
    list-style: none;
    /* border: 2px solid yellow; */
    padding: 0;
    display: flex;
    gap: 2rem;
}


.Dlinksul a{
    text-decoration: none;
    color: var(--lightestSlate);
    font-family: var(--fontMono);
    transition: var(--transition);    
}

.Dlinksul a:hover{
    color: var(--colorGreen);
        
}


.Dresumebtndiv{
    display: flex;
    align-items: center;
}

#Dresumebtn{
    text-transform: capitalize;
    font-family: var(--fontMono);
    color: var(--colorGreen);
    border: 1.5px solid var(--colorGreen);
    transition: var(--transition);  
}

#Dresumebtn:hover{
    background: var(--colorGreenTint);
}



