.projects{
     /* border: 2px solid red; */
     width: 70%;
     color: aliceblue;
     display: flex;
     flex-direction: column;
     /* justify-content: flex-start; */
     align-items: flex-start;
     /* padding-left: 10px; */
     margin-top: 40px;
     /* height: 500px; */
}

.titleprojects::after{
    content: "";
    width: 27vw;
    height: 1.5px;
    background-color: var(--color4);
    display: inline-block;
    margin: 5px 20px;
}