.projects{
     width: 70%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-top: 40px;
}

.titleprojects::after{
    content: "";
    width: 27vw;
    height: 1.5px;
    background-color: var(--color4);
    display: inline-block;
    margin: 5px 20px;
}

.titleprojects{
    text-align: left;
    color: var(--lightestSlate);
    font-family: var(--fontSans);
    font-size: clamp(25px, 3vw, 30px);
}




@media only screen and (max-width: 750px) {
    .projects{
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .titleprojects::after{
       width: 10rem;
    }
    
}