.footer{
    margin-top: 60px;
    width: 100%;
    color: white;
    padding-bottom: 20px;
}


.ficonsul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px;

}


.fgitlink, .flinkedilink{
    color: var(--light-slate);
    transition: var(--transition);
}

.fcontentdiv > *{
    margin: 8px auto;
}

.fmadeby{
    font-size: 15px;
    font-family: var(--fontMono);
    color: var(--light-slate);
}

.femail{
    font-size: 15px;
    cursor: pointer;
    color: var(--color4);
    font-family: var(--fontMono);
}

.fcopr{
    font-family: var(--fontMono);
    font-size: 12px;
    font-weight: normal;
    color: var(--light-slate);
}