:root{

  --color1: #0B2447;
  --color2: #19376D;
  --color3: #576CBC;
  --color4: #A5D7E8;
  --colorGreen: hsl(165.7, 100%, 69.6%);
  --colorGreenTint: #123d60;
  --colorDarkNavy: #020c1b;
  --colorNavy: #0a192f;
  --colorLightNavy: #112240;
  
  --darkSlate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightestSlate: #ccd6f6;
  --white: #e6f1ff;


  --fontNunito: 'Nunito', sans-serif; 
  --fontRobSlab: 'Roboto Slab', serif;
  --fontMono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  --fontSans: 'Calibre','Inter','San Francisco','SF Pro Text',system-ui,sans-serif;

  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  
}

.base{
  display: flex;
  justify-content: center;
}


body{
  background: var(--colorDarkNavy);
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */







