:root{

  --color1: #0B2447;
  --color2: #19376D;
  --color3: #576CBC;
  --color4: #A5D7E8;

  --fontNunito: 'Nunito', sans-serif; 
  --fontRobSlab: 'Roboto Slab', serif;

  --slate: hsl(225.7, 70%, 88.2%);
  --light-slate: hsl(225.7, 70%, 88.2%);

}

.base{
  display: flex;
  justify-content: center;
}


body{
  background: var(--color1);
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */







