body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  scroll-behavior: smooth;
  scrollbar-width: thin;
  /* scrollbar-color: hsl(220, 21.1%, 36.3%) var(--color1); */
  scrollbar-color: #263d62 var(--color1);
  
}

/* SCROLLBAR STYLLING */

/* width */
::-webkit-scrollbar {
  width: 5px;
 
}


/* Track */
/* ::-webkit-scrollbar-track {
  background: inherit; 
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #263d62;
  border-radius: 10px;
}